body{
    margin: 0;
    padding: 0;
    background-color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.list{
    width: 300px;
    margin: 10% auto;
    background-color: white;
    padding: 25px;
}
#list-header{
    text-align: center;
    font-size: 21px;
    color: #C549FF;
}
#item-section{
    min-height: 350px;
}
.list-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F2F2F2;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: row;
}
.number{
    margin-right: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.delButton{
    background: none;
    border: none;
    cursor: pointer;
}
.doneButton{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
input{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
    width: 178px;
    height: 47px;
    padding-left: 10px;
}
input::placeholder{
    color: #C7C7C7;
}
#save{
    width: 99px;
    height: 47px;
    border: none;
    border-radius: 4px;
    padding: 16px 20px;
    background-color: #C549FF;
    color: white;
    cursor: pointer;
}